body {
    background-color: rgb(196, 217, 242);
}

.container {
    display: flex;
    margin-left: 100px;
    margin-right:100px ;
    margin-top: 20px;
    gap: 40px;
}
    
header ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
 
}
header a {      
    text-decoration: none;  
    color: rgb(112, 165, 225);
    font-weight: bolder;
    margin-left: 75px;
    margin-top: 50px;
    font-size: larger;
}


img#chat {
    width: 200px;
}


img#foto {
    width: 200px;
}





.card-container {
      display: flex;
      justify-content: center;
      gap: 40px;
      flex-wrap: wrap;
    }

   

    .card {
    width: 280px;
    height: 320px;
    background: white;
  
}

    .card img {
      width: 100%;
      height: 55%;
      object-fit: cover;
    }

    .card-content {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20%;
    }

    .card a {
    margin: 0;
    font-size: large;
    font-weight: bolder;
    color: #333;
    text-decoration: none;  
    }

    .stars {
      margin-top: 8px;
      color: #03b03c;
      font-size: 22px;
      font-weight: bolder;
    }

    .star {
      color: #03b03c;
    }

.f {
    font-size: 15px;
    color: grey;
}


.k {
    font-size: 12px;
    color:grey ;
}

